* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.main {
    border-radius: 4px;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #151e2f;
}

.sidebar-head {
    margin-bottom: 50px;
    margin-top: 5px;
}

.sidebar-head-text {
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
}

.sidebar-list-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.sidebar-body-child {
    text-decoration: none;
    color: #fff;
    padding: 10px 0 10px 20px;
    width: 100%;
}

.sidebar-body-child:hover { 
    cursor: pointer;
    background-color: #1d283c;
    opacity: 0.8;
}

.sidebar-body-child.active {
    background-color: #1d283c;
    position: relative;
}

.sidebar-body-child.active::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #9EC8B9;
    height: 100%;
    width: 4px;
}

i {
    margin-right: 5px;
}

.app-content {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
    background-color: #101827;
    padding: 5px 10px;
}

.app-content-header {
    padding: 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerText {
    font-size: 30px;
    font-weight: 600;
}

.dark-mode-toggle {
    color: #fff;
    margin-left: auto;
    margin-right: 8px;
}

.bi.bi-moon-fill {
    font-size: 24px;
}

.app-content-action {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.search-bar {
    outline: none;
    color: #fff;
    background-color: #1d283c;
    border-radius: 4px 0 0 4px;
    border: 1px solid #151e2f;
    padding-left: 5px;
}

.search-bar:focus {
    border-color: #9EC8B9;
}

.search-bar:hover {
    border-color: #9EC8B9;
}

.app-content-action button {
    color: #fff;
    border: none;
    background-color: #1d283c;
    border: 1px solid #151e2f;
    padding: 0 4px;
    border-radius: 0 4px 4px 0;
}

.app-content-action button .bi.bi-search {
    margin: 0;
}

.filterBtn {
    padding: 5px 8px;
    cursor: pointer;
    background-color: #1d283c;
    border-radius: 4px;
    position: relative;
}

.bi.bi-funnel-fill {
    margin-left: 5px;
}

.app-content-table {
    margin-top: 20px;
}

.page-link {
    cursor: pointer;
}

.page-link.disable {
    color: #868e96;
    cursor: default;
}

#selectBox {
    width: 250px;
}

.message {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 9999;
    transition: all linear 0.3s;
    animation: slideFromLeftSide ease 1s, fadeOut linear 1s 3s forwards;
}

.alert i {
    margin-left: 5px;
    color: #adb5bd;
}

@keyframes slideFromLeftSide {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

#imagePreview[src="#"] {
    display: none;
}

#imagePreview {
    max-width: 200px;
    height: auto;
    padding: 5px 5px;
    margin: 5px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.detail-content {
    padding: 20px 20px;
    background-color: #151e2f;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.05);
}

.trash-link {
    text-decoration: none;
    color: #fff;
    margin-left: auto;
    font-size: 16px;
}