extends ../../layouts/default
include ../../mixins/alert

block main
    +alert-error(3000)
    +alert-success(3000)
    .container-md
        .row.justify-content-around
            form.col-md-8.form-admin(action=`/user/password/change` method='POST')
                .header.text-center.my-3 
                    .h3 Change Password
                .form-group
                    label.my-2(for='password') New Password
                    .input-group.input-group-prepend
                        span#inputGroupPrepend.input-group-text
                            i.bi.bi-lock-fill 
                        input.form-control(type='password', name='password', aria-describedby='inputGroupPrepend', required='')
                    .form-text 
                        ul 
                            li Password must contain at least 8 characters
                            li Password must contain at least 1 number
                .form-group
                    label.my-2(for='password') Confirm Password
                    .input-group.input-group-prepend
                        span#inputGroupPrepend.input-group-text
                            i.bi.bi-lock-fill 
                        input.form-control(type='password', name='confirmPassword', aria-describedby='inputGroupPrepend', required='')
                input.btn.btn-primary.my-3.btn-block.w-100(type='submit', value='Submit')