extends ../../layouts/default
include ../../mixins/alert

block main
    +alert-error(3000)
    +alert-success(3000)
    .container-md
        .row.justify-content-around
            form.col-md-8.form-admin(action=`/user/password/otp` method='POST')
                .header.text-center.my-3 
                    .h3 OTP
                .form-group
                    label.my-2(for='email') Email 
                    .input-group.input-group-prepend
                        span#inputGroupPrepend.input-group-text
                            i.bi.bi-envelope-fill
                        input.form-control(type='text', name='email' value=userEmail readonly)
                .form-group
                    label.my-2(for='otp') OTP
                    .input-group.input-group-prepend
                        span#inputGroupPrepend.input-group-text
                            i.bi.bi-lock-fill 
                        input.form-control(type='text', name='otp', aria-describedby='inputGroupPrepend')
                input.btn.btn-primary.my-3.btn-block.w-100(type='submit', value='Submit')