extends ../../layouts/default
include ../../mixins/alert

block main
    +alert-error(3000)
    .container-md
        .row.justify-content-around
            form.col-md-8.form-admin(action=`/user/sign_in` method='POST')
                .header.text-center.my-3 
                    .h3 Log In 
                .form-group
                    label.my-2(for='email') Email 
                    .input-group.input-group-prepend
                        span#inputGroupPrepend.input-group-text
                            i.bi.bi-envelope-fill
                        input.form-control(type='text', name='email', aria-describedby='inputGroupPrepend', required='')
                .form-group
                    label.my-2(for='password') Password
                    .input-group.input-group-prepend
                        span#inputGroupPrepend.input-group-text
                            i.bi.bi-lock-fill 
                        input.form-control(type='password', name='password', aria-describedby='inputGroupPrepend', required='')
                input.btn.btn-primary.my-3.btn-block.w-100(type='submit', value='Submit')
                .form-text.text-end 
                    a(href="/user/password/forgot") Forgot password ?