.sidebar 
    .sidebar-head 
        .sidebar-head-text Admin
    .sidebar-body 
        .sidebar-list-item
            .sidebar-body-child(btn-page='dashboard')
                i.bi.bi-house-fill
                |Dashboard 
            .sidebar-body-child(btn-page='product')
                i.bi.bi-bag-fill
                |Product 
            .sidebar-body-child(btn-page='statistic')
                i.bi.bi-pie-chart-fill 
                |Statistic 
            .sidebar-body-child(btn-page='inbox')
                i.bi.bi-inbox-fill 
                |Inbox 
            .sidebar-body-child(btn-page='notification')
                i.bi.bi-bell-fill
                |Notifications  