.app-content 
    .app-content-header 
        .app-content-text 
            h1.headerText You are not allow to view this page
        .dark-mode-toggle
            i.bi.bi-moon-fill
        a.btn.btn-success(onclick="history.back()") Go back
    .app-content-action 