extends ../../layouts/default
include ../../mixins/boxhead

block main 
    .container-md
      .row
        .col-md-4
          | Column
        .col-md-4
          | Column
        .col-md-4
          | Column