extends ../../layouts/default
include ../../mixins/product-grid 

block main 
    .container-md
      +productGrid('Featured Product', featuredProduct)
      +productGrid('Latest Product', latestProduct)