extends ../../layouts/default
include ../../mixins/productBox
include ../../mixins/boxhead

block main     
    +boxhead(titlePage)
    .container-fluid
        .row
            each item in data 
                .col-md-4
                    +productBox(item)