extends ../../layouts/default
include ../../mixins/productBox
include ../../mixins/boxhead

block main     
    +boxhead(titlePage)
    .container-md
        .row
            each item in product 
                .col-md-4
                    +productBox(item)