extends ../../layouts/default
include ../../mixins/product-grid 
include ../../mixins/alert 

block main     
    .container 
        +alert-success(3000)
        +productGrid(categoryTitle, productList)