* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #495057;
    margin-top: 20px;
}

.title {
    margin: 10px 20px;
    font-size: 22px;
    font-weight: 600;
    
}

.col-md-4 {
    display: flex;
    justify-content: center;
}

.product-box {
    margin: 20px 0px;
    width: 18rem;
    /* max-width: 300px; */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
}

.productImg {
    /* max-width: 300px; */
    width: 18rem;
    border-radius: 10px 10px 0 0;
}

.product-info {
    margin-left: 5px;
}

.productTitle {
    font-size: 20px;
    font-weight: 600;
}

.productTitle a {
    text-decoration: none;
    color: #000;
}

.productPrice {
    font-weight: 700;
}

.test {
    color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-product {
    max-width: 800px;
    margin: 30px 0 0 0;
    padding: 20px 20px;
    display: flex;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.info-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 0 10px;
}

.product-title {
    font-size: 22px;
    font-weight: 600;
}

.product-price {
    color: #228be6;
    font-size: 20px;
}

.product-description {
    font-size: 14px;
}

.product-button {
    margin-top: auto;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.product-button button {
    width: 200px;
}

button i {
    margin-right: 5px;
}

#imagePreview {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}

.sub-menu {
    position: relative;
}

.sub-menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    display: none;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sub-menu a {
    text-decoration: none;
}

.sub-menu ul li {
    position: relative;
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li ul {
    left: 100%;
    top: 0;
}

.sub-menu ul li:hover > ul {
    display: block;
}

.col-md-3 {
    display: flex;
    justify-content: center;
}

.card {
    width: 11rem;
    height: 100%;
    padding: 0 10px;
    position: relative;
    box-shadow: 5px 10px 18px #bebebe;
}

.card a {
    text-decoration: none;
    color: #212529;
}

.card-img-top {
    height: 180px;
}

.featured-product-badge {
    position: absolute;
    top: 0;
    right: 0;
}

.message {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 9999;
    transition: all linear 0.3s;
    animation: slideFromLeftSide ease 1s, fadeOut linear 1s 3s forwards;
}

.alert i {
    margin-left: 5px;
    color: #adb5bd;
    cursor: pointer;
}

@keyframes slideFromLeftSide {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.thumbnail {
    width: 140px;
    height: auto;
}

.empty-cart {
    display: flex;
    flex-direction: column;
}

.quantity-product-input {
    width: 60px;
}